img{

    height: 250px;
    width: 250px;
    border-radius: 30px;

}
#box{
    background-color:hsl(0, 0%, 100%);
    width: 300px;
    height: 450px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 10px;

}
#webbackground{
    background-color:hsl(212, 45%, 89%);
    height: 600px;
    width: 1400px;
    border-radius: 40px;
    margin:50px 50px 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#firstpar{
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    font-weight:700;
}
#secondpar{
    font-size: 15px;
    font-family:'Outfit', sans-serif;
    font-weight:400;
    text-indent: 30px

}
